<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.enjoytrip.model.repo.HotPlaceRepo">
    <resultMap id="hotPlaces" type="HotPlaceDto">
        <result column="hotplace_id" property="hotplaceId" />
        <result column="user_id" property="userId" />
        <result column="subject" property="subject" />
        <result column="content" property="content" />
        <result column="image" property="image" />
        <result column="hit_count" property="hitCount" />
        <result column="created_date" property="createdDate" />
        <result column="updated_date" property="updatedDate" />
    </resultMap>

    <select id="listHotPlace" resultMap="hotPlaces">
        select * from hotplaces order by ${sort} desc
         limit #{start}, #{listsize}
    </select>

    <insert id="createHotPlace">
        insert into hotplaces(user_id, subject, content, image) values(#{userId}, #{subject}, #{content}, #{image})
    </insert>

    <select id="getFavHotPlace" resultMap="hotPlaces">
        select * from hotplaces where hotplace_id = #{hotPlaceId}
    </select>

    <select id="getMyHotPlace" resultMap="hotPlaces">
        select * from hotplaces
        where user_id = #{userId}
    </select>

</mapper>